body {
    font-family: 'Roboto', sans-serif; /* Moderní font */
    background-color: #f4f4f9; /* Světlé pozadí */
    text-align: center;
    padding: 20px;
    margin: 0;
}

.calculator {
    background-color: white;
    padding: 20px;
    border-radius: 10px; /* Zaoblené rohy */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Jemný stín */
    max-width: 400px;
    margin: 0 auto;
}

input, select, button {
    width: 95px; /* Zúží pole na 30% šířky (pro PC) */
    padding: 8px; /* Sníží výšku polí */
    font-size: 16px; /* Menší písmo */
    margin: 5px; /* Menší mezery mezi prvky */
    border-radius: 6px; /* Mírně zaoblené rohy */
    border: 1px solid #ccc; /* Jemné ohraničení */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); /* Lehký stín */
    transition: all 0.3s ease;
}

input:focus, select:focus {
    border-color: #007BFF; /* Modrý rámeček při zaměření */
    outline: none; /* Odstranění výchozího modrého rámečku */
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    color: #555;
}

/* Pro mobilní zařízení */
@media (max-width: 600px) {
    input, select, button {
        width: 100%; /* Na mobilu zabírají 100% šířky */
        padding: 10px; /* Mírně větší padding na mobilu */
        font-size: 14px; /* Menší písmo pro mobilní obrazovky */
    }

    .rovnase
{
    background-color: orange;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 25px;
    font-size: 30px;
    text-align: center;
}

.vyber
{
    background-color: green;
    color: white;
    width: 80px;
    border-radius: 25px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
}

.vysledek
{
    background-color: chocolate;
    color: white;
    width: 50px;
    border-radius: 25px;
    font-size: 25px;
    text-align: center; 
}


    .calculator {
        max-width: 100%;
        padding: 15px;
    }
}

.rovnase
{
    background-color: orange;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 25px;
    font-size: 40px;
    text-align: center;
}

.vyber
{
    background-color: green;
    color: white;
    width: 50px;
    border-radius: 25px;
    font-size: 25px;
    text-align: center;
}

.vysledek
{
    background-color: chocolate;
    color: white;
    width: 50px;
    border-radius: 25px;
    font-size: 25px;
    text-align: center; 
}
